// Globale Styles

@import './scss/normalize.scss';
@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './scss/typography.scss';
@import './scss/forms.scss';

// Container Styles

.app-container {
    width: 94%;
    margin: 20px auto;
    h1 {
        color: $primaryColor;
    }
}

// Component Styles