button,
input[type="submit"] {
    background-color: $primaryColor;
    color: $white;
    font-family: $sansSerif;
    border: 1px solid $primaryColor;
    padding: 8px 16px;
    border-radius: 4px;
    &:focus,
    &:hover {
        background-color: lighten($primaryColor, 20%);
        border: 1px solid lighten($primaryColor, 20%);
    }
    &:active {
        background-color: $white;
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }
}

input {
    padding: 8px 16px;
    margin-right: 4px;
}